

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-titulo-mondal:'Pangolin', cursive;
    --font-corpo: 'Inconsolata', monospace;

}

body{
    font-family: var(--font-corpo);
  

}