
.caixa-lista{
    display: flex;
    justify-content: center;
    padding: 0 1.8em 0 0;
    color: #444444;

}
.apaga{
    display: none;
}

.opcoes{
    display: flex;
}
.lista{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.lista-item{
  text-transform: uppercase;  
  padding: 0 0.5em;
  font-weight: 600;

}
.btn-remover{
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.5em 1.5em;
    color: #444444;

    font-size: 12px;
    cursor: pointer;
}
